@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  @apply bg-neutral-100;
}

body::before {
  --line: hsla(0, 0%, 40%, 0.15);
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin,
    linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
  mask: linear-gradient(-15deg, transparent 25%, white);
}